# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\admin\Desktop\Uni\Module\ProPra2\testPraktischeUebung\-MInd-Optimizerstest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
